<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Camera moving">

        <title>Camera moving</title>
        
        <script src="https://play.workadventu.re/iframe_api.js"></script>
        
      <script type="module" crossorigin src="../../assets/view_cameraMoving-3a7b5eda.js"></script>
      <link rel="modulepreload" crossorigin href="../../assets/main-c7fad90a.js">
      <link rel="modulepreload" crossorigin href="../../assets/translate-8d8a5063.js">
      <link rel="modulepreload" crossorigin href="../../assets/sounds-6715028d.js">
      <link rel="modulepreload" crossorigin href="../../assets/cameraMovingMode-0c1ee584.js">
      <link rel="stylesheet" href="../../assets/main-5f8256c2.css">
    </head>
    <body style="margin: 0">
        <div class="p-2" style="border-bottom: 4px black solid; background: #c8c8c8">
            <div class="bg-white p-2" style="display: inline-block; border: 4px black solid;">
                <div id="cameraMoveTitle">
                    Caméra mobile
                </div>
                <div>
                    <table style="margin: auto">
                        <tr>
                            <td style="text-align: center"></td>
                            <td style="text-align: center">
                                <button id="cameraMoveUp">⬆️</button>
                            </td>
                            <td style="text-align: center"></td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><button id="cameraMoveLeft">⬅️</button></td>
                            <td style="text-align: center"><button id="cameraMoveDown">⬇️</button></td>
                            <td style="text-align: center"><button id="cameraMoveRight">➡️</button></td>
                        </tr>
                    </table>
                </div>
                <div style="display: none">
                    <button id="close">CLOSE</button>
                </div>
            </div>
        </div>
    </body>
</html>