<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="title" content="My job wallet">

    <title>Orientation Choice</title>
    
    <script src="https://play.workadventu.re/iframe_api.js"></script>
    
  <script type="module" crossorigin src="../../assets/discussion-f5f56ea5.js"></script>
  <link rel="modulepreload" crossorigin href="../../assets/main-6a4b5cd2.js">
  <link rel="modulepreload" crossorigin href="../../assets/translate-9557bc41.js">
  <link rel="modulepreload" crossorigin href="../../assets/actionForAllPlayers-b82946da.js">
  <link rel="modulepreload" crossorigin href="../../assets/discussion-5021ca9c.js">
  <link rel="stylesheet" href="../../assets/main-c53170d0.css">
</head>
    <body>
        <div style="background: white; overflow: hidden; border:5px solid black">
            <div
                id="title"
                style="font-size: large; padding: 25px;"
            >
            </div>
            <div id="text" style=" padding: 10px 25px 10px 50px;">

            </div>
            <div class="text-align-right m-2">
                <button class="btn bg-info cursor-pointer" id="closeButton">
                </button>
            </div>
        </div>
    </body>
</html>