<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Invitation received</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Players list">

        

        <script src="https://play.workadventu.re/iframe_api.js"></script>
        
      <script type="module" crossorigin src="../../assets/invitationReceived-1bee18c4.js"></script>
      <link rel="modulepreload" crossorigin href="../../assets/main-c7fad90a.js">
      <link rel="modulepreload" crossorigin href="../../assets/translate-ecd33fd0.js">
      <link rel="modulepreload" crossorigin href="../../assets/actionForAllPlayers-b712918f.js">
      <link rel="modulepreload" crossorigin href="../../assets/lobby-e45d1957.js">
      <link rel="stylesheet" href="../../assets/main-5f8256c2.css">
    </head>
    <body>
        <div class="bg-white">
            <div>
                <span id="youHaveBeenInvited">Vous avez été invité par </span>
                <span id="name"></span>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <button id="refuse" class="btn bg-error">
                    Refuser
                </button>
                <button id="accept" class="btn bg-success">
                    Accepter
                </button>
            </div>
        </div>
    </body>
</html>