<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Invitation received</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Players list">

        

        <script src="https://play.workadventu.re/iframe_api.js"></script>
        
      <script type="module" crossorigin src="../../assets/main-7e3037a0.js"></script>
      <script type="module" crossorigin src="../../assets/translate-ea8f1c55.js"></script>
      <script type="module" crossorigin src="../../assets/config-b9844f25.js"></script>
      <script type="module" crossorigin src="../../assets/lobby-76e50ffd.js"></script>
      <script type="module" crossorigin src="../../assets/invitationReceivedTS-38e8eef0.js"></script>
      <link rel="stylesheet" href="../../assets/main-461c278e.css">
    </head>
    <body>
        <div class="bg-white">
            <div>
                <span id="youHaveBeenInvited">Vous avez été invité par </span>
                <span id="name"></span>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <button id="refuse" class="btn bg-error">
                    Refuser
                </button>
                <button id="accept" class="btn bg-success">
                    Accepter
                </button>
            </div>
        </div>
    </body>
</html>