<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Players list</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Players list">

        

        <style>
            .player-line {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 20px;
                border-bottom: 1px black solid;
            }

            .player-line img {
                padding: 10px;
                border: 1px black solid;
            }
        </style>

        <script src="https://play.workadventu.re/iframe_api.js"></script>
        
      <script type="module" crossorigin src="../../assets/main-7e3037a0.js"></script>
      <script type="module" crossorigin src="../../assets/translate-ea8f1c55.js"></script>
      <script type="module" crossorigin src="../../assets/lobby-22fda1c7.js"></script>
      <script type="module" crossorigin src="../../assets/playerListTS-9d703590.js"></script>
      <link rel="stylesheet" href="../../assets/main-461c278e.css">
    </head>
    <body>
        <div class="bg-white p-2">
            <div id="playerList">
                Liste des joueurs autour de moi
            </div>
            <div>
                <button class="btn bg-error mt-2 mb-2" id="close">
                    FERMER
                </button>
            </div>
        </div>
    </body>
</html>