<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Players list</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Players list">

        

        <style>
            .player-line {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 20px;
                border-bottom: 1px black solid;
            }

            .player-line img {
                padding: 10px;
                border: 1px black solid;
            }
        </style>

        <script src="https://play.workadventu.re/iframe_api.js"></script>
        
      <script type="module" crossorigin src="../../assets/playerList-5f2e25b9.js"></script>
      <link rel="modulepreload" crossorigin href="../../assets/main-5b1278fc.js">
      <link rel="modulepreload" crossorigin href="../../assets/translate-52a641a9.js">
      <link rel="modulepreload" crossorigin href="../../assets/config-63dd91cb.js">
      <link rel="modulepreload" crossorigin href="../../assets/lobby-840e0083.js">
      <link rel="stylesheet" href="../../assets/main-4b69e1e4.css">
    </head>
    <body>
        <div class="bg-white p-2">
            <div id="playerList">
                Liste des joueurs autour de moi
            </div>
            <div>
                <button class="btn bg-error mt-2 mb-2" id="close">
                    FERMER
                </button>
            </div>
        </div>
    </body>
</html>