<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Players list</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Players list">

        

        <script src="https://play.workadventu.re/iframe_api.js"></script>
        
      <script type="module" crossorigin src="../../assets/main-7e3037a0.js"></script>
      <script type="module" crossorigin src="../../assets/translate-ea8f1c55.js"></script>
      <script type="module" crossorigin src="../../assets/lobby-22fda1c7.js"></script>
      <script type="module" crossorigin src="../../assets/waitingForAnswerTS-767b6307.js"></script>
      <link rel="stylesheet" href="../../assets/main-461c278e.css">
    </head>
    <body>
        <div class="bg-white">
            <div id="waitingForAnswer">
                En attente de la réponse (TODO : translations)
            </div>
            <div>
                <button id="cancelButton" class="btn bg-error">
                    Annuler (TODO : Translations)
                </button>
            </div>
        </div>
    </body>
</html>