<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Players list</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Players list">

        

        <script src="https://play.workadventu.re/iframe_api.js"></script>
        
      <script type="module" crossorigin src="../../assets/waitingForAnswer-fe6ed53e.js"></script>
      <link rel="modulepreload" crossorigin href="../../assets/main-ce14173a.js">
      <link rel="modulepreload" crossorigin href="../../assets/translate-0f2400b3.js">
      <link rel="modulepreload" crossorigin href="../../assets/config-63dd91cb.js">
      <link rel="modulepreload" crossorigin href="../../assets/lobby-840e0083.js">
      <link rel="stylesheet" href="../../assets/main-74a2344a.css">
    </head>
    <body>
        <div class="bg-white">
            <div id="waitingForAnswer">
                En attente de la réponse (TODO : translations)
            </div>
            <div>
                <button id="cancelButton" class="btn bg-error">
                    Annuler (TODO : Translations)
                </button>
            </div>
        </div>
    </body>
</html>