<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Base runes wallet">

        <title>Base runes</title>
        
        <script src="https://play.workadventu.re/iframe_api.js"></script>
        
      <script type="module" crossorigin src="../../assets/base-699db86f.js"></script>
      <link rel="modulepreload" crossorigin href="../../assets/main-6a4b5cd2.js">
      <link rel="modulepreload" crossorigin href="../../assets/translate-9557bc41.js">
      <link rel="modulepreload" crossorigin href="../../assets/actionForAllPlayers-0f29533a.js">
      <link rel="modulepreload" crossorigin href="../../assets/job-42f3db94.js">
      <link rel="modulepreload" crossorigin href="../../assets/readRunes-5e4bee32.js">
      <link rel="stylesheet" href="../../assets/main-c53170d0.css">
    </head>
    <body>
        <div class="bg-white p-2">
            <div id="title" class="text-align-center" style="font-size: 18px;">
                Title
            </div>
            <div id="content" class="mt-2">
                CECI EST MON SITE DE RUNES
            </div>
            <div class="text-align-center mt-2">
                <button id="closeButton" class="btn bg-info">
                    Fermer
                </button>
            </div>
        </div>
    </body>
</html>