<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Base runes wallet">

        <title>Base runes</title>
        
        <script src="https://play.workadventu.re/iframe_api.js"></script>
        
      <script type="module" crossorigin src="../../assets/view_base-ebd0c2e8.js"></script>
      <link rel="modulepreload" crossorigin href="../../assets/main-c7fad90a.js">
      <link rel="modulepreload" crossorigin href="../../assets/translate-a3054a4c.js">
      <link rel="modulepreload" crossorigin href="../../assets/config-63dd91cb.js">
      <link rel="modulepreload" crossorigin href="../../assets/job-3160909b.js">
      <link rel="modulepreload" crossorigin href="../../assets/readRunes-07de4646.js">
      <link rel="modulepreload" crossorigin href="../../assets/actionForAllPlayers-42768cef.js">
      <link rel="stylesheet" href="../../assets/main-5f8256c2.css">
    </head>
    <body>
        <div class="bg-white p-2">
            <div id="title" class="text-align-center" style="font-size: 18px;">
                Title
            </div>
            <div id="content" class="mt-2">
                CECI EST MON SITE DE RUNES
            </div>
            <div class="text-align-center mt-2">
                <button id="closeButton" class="btn bg-info">
                    Fermer
                </button>
            </div>
        </div>
    </body>
</html>