<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="title" content="My inventory">

    <title>Cheat sheet</title>
    

    <script src="https://play.workadventu.re/iframe_api.js"></script>
    
  <script type="module" crossorigin src="../../assets/view_cheatSheet-9c239733.js"></script>
  <link rel="modulepreload" crossorigin href="../../assets/main-c7fad90a.js">
  <link rel="modulepreload" crossorigin href="../../assets/translate-6b0a3d2a.js">
  <link rel="stylesheet" href="../../assets/main-5f8256c2.css">
</head>
<body>
<div class="bg-white p-2">
    <div id="note" class="handwriting-font error text-align-center"></div>
    <div id="content" class="handwriting-font"></div>
</div>
</body>
</html>